.selectedPage{
    font-weight: bold;
    font-size: 18px;
}
.pagination span{
    margin: 5px;
    cursor: pointer;
}
.pagination span:last-child{
    margin-right: 0;

}
.pagination{
    margin-bottom: 20px;
}