.header {
    background: #fff;
    position: relative;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
}

.loginBlock {
    right: 20px;
    top: 50%;
    margin-top:-10px ;
    position: absolute;
}
.logo{
    max-width: 40px;
}
.logo a{
    display: block;
}
.logo img{
    max-width: 100%;
}

