.header {
    grid-area: h;
    background: rgb(109, 235, 109);
    min-height: 69px;
    position: relative;
}

.header img {
    max-width: 50px;
    display: block;
    margin: 10px;
    cursor: pointer;
}

.loginBlock {
    right: 20px;
    top: 50%;
    margin-top:-10px ;
    position: absolute;
}
