.userCard {
    display: flex;
    margin-bottom: 40px;
}

.content {

}

.ProfileStatus {
    margin-bottom: 20px;
}

.image_top {
    margin-bottom: 20px;
    overflow: hidden;
}

.image_top img {
    max-width: 100%;
    display: block;
}

.avatar {
    position: relative;
    max-width: 100px;
    height: 100px;
    margin-right: 20px;
    overflow: hidden;
}

.avatar:hover .inputChangeImage {
    display: block;
    transition: display .5s;
}

.avatar img {
    max-width: 100%;
    display: block;

}

.inputChangeImage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-17%, -54%);
    display: none;


}
.info p{
    margin: 10px;
}
.info p:first-child{
    margin-top:0;
}
.formSummaryError{
    color: tomato;
}