body{
  background: #e7e7e7;
}
.app-wrapper {
  margin: 0 auto;
  max-width: 1200px;
}
.app-wrapper-content{
  width: 90%;

}
.center{
  display: flex;
  gap: 10px;
  justify-content: space-between;
}